
<h1 class="text-center text-primary">Editing Article</h1>

<%= render 'form', article: @article %>

<div class="container">
<%= link_to 'Show', @article,class:"btn btn-info btn-block" %>
<%= link_to 'Back', articles_path,class:"btn btn-info btn-block" %>
</div>