files:
  "/opt/elasticbeanstalk/env.vars":
    mode: "000775"
    owner: root
    group: users
    content: |
      export NVM_DIR="/home/webapp/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
      export NODE_VERSION=14.21.3

container_commands:
  01_install_node:
    command: |
      . /opt/elasticbeanstalk/env.vars
      nvm install $NODE_VERSION
      nvm alias default $NODE_VERSION
      node --version
