files:
  "/opt/elasticbeanstalk/env.vars":
    mode: "000775"
    owner: root
    group: users
    content: |
      export NVM_IOJS_ORG_MIRROR=https://iojs.org/dist
      export NVM_NODEJS_ORG_MIRROR=https://nodejs.org/dist

container_commands:
  01_node_install:
    command: ". /opt/elasticbeanstalk/env.vars && nvm install 14.21.3 && nvm alias default 14.21.3"
