container_commands:
  01_createdb:
    command: "bundle exec rake db:create"
    leader_only: true
  02_migrate:
    command: "bundle exec rake db:migrate"
    leader_only: true
  03_seed:
    command: "bundle exec rake db:seed"
    leader_only: true
  04_webpack_compile:
    command: "RAILS_ENV=production bin/webpack"
 05_add_npm_to_path:
    command: "echo 'export PATH=$PATH:/opt/elasticbeanstalk/support/node-install/node-v14.21.3-linux-x64/bin' >> /etc/profile.d/sh.local"

