<div><%= link_to  "Back to all users", users_path %></div>
<div>
  <%= link_to  "All categories", categories_path %>
</div>
<div>
  <%= link_to  "Create a category", new_category_path %>
</div>
<div><%= link_to  "Create an article", new_article_path %></div>