<h1 class="text-center text-primary">Editing Category</h1>

<%= render 'form', category: @category %>
<div class="container">
<%= link_to 'Show', @category,class:"btn btn-info btn-block" %>
<%= link_to 'Back', categories_path,class:"btn btn-info btn-block" %>
</div>