<nav class="navbar navbar-expand-lg navbar-light main">
  <div class="logo"><%= image_tag 'sports_info.png',width:100,alt:"Sports Info" %></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Privacy Policy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Terms and Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Copyright 2020. All rights reserved</a> 
    </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Connect with us:  <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-instagram fa-2x"></i></a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-facebook fa-2x"></i></a> 
        </li>
    </ul>
  </div>
</nav>