<% if current_user.is_a?(User) %>
  <li class="nav-item">
    <h2>Hi <%=current_user.first_name%></h2>
  </li>
  <li class="nav-item">
    <%= link_to 'Log out',destroy_user_session_path, method: :delete, class:"nav-link" %>
  </li>
  <li class="nav-item">
  <i class="fas fa-search fa-2x"></i>
</li>
<% else %>       
    <li class="nav-item">
      <%= link_to 'Login',new_user_session_path,class:"nav-link active "%>
    </li>
    <li class="nav-item">
      <%= link_to 'Register',new_user_registration_path,class:"nav-link "%>
    </li>
<% end %>
